@media screen and (max-width: 768px) {
    

    .barra_menu {
        overflow-x: scroll;
        white-space: nowrap;
        width: 100%;
        height: auto;
        /* Cambiar a scroll horizontal en dispositivos móviles */
    }    

    .boton{
        border-radius: 5px;
    }

    .menu {
        width: 500rem;
       
    }

    .menu {
        width: 500rem;
       
    }

    .header1{
        height: 5rem;
    }    

    .boton_registrarse{
        display: none;
    }

    .barra_busqueda{
        display: none;
    }

    .boton_iniciar_sesion{
        width: 5.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .titulo1 {
        margin-top: 1.5rem;
        font-size: 2rem;
    }

    .boton_menu{
        
        width: 2.5rem;
       height: 2.5rem;
        box-sizing: border-box;
    }

    .boton_menu span{
        display: none;
        
    }

    .boton_iniciar_sesion{
       margin-left: 0.5rem;
       box-sizing: border-box;
       width: 2.5rem;
       height: 2.5rem;
    }

    .boton_iniciar_sesion div{
        display: none;
     }

    .p-edicion{
        padding: 0;
    }

    .tamanio_fuente p{
        display: none;
    }

    .header2{
        margin-bottom: 0.5rem;
    }

       
    .grid5{
        grid-template-columns: 1fr;
    }

    .grid2{
        grid-template-columns: 1fr;
    }

    .body_noticias{
        grid-template-columns: 1fr;
    }

    .noticiasDestacadas{
        grid-template-columns: 1fr;
    }

    .video_principal{
        display: inline-block;
    }

    .titulo{
        font-size: 1.8rem;
    }

    .miniatura_video{
        max-width: 90%;
    }

    .body{
        padding-right: 0px;
    }



    .noticiaDestacada{
        border-bottom: 1px dashed var(--borde);
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    

    .alinear-izquierda-s{
        justify-content: flex-start;
        margin-left: 1.5rem;
    }

    .alinear-derecha-s{
        justify-content: flex-end;
        margin-right: 1.5rem;
        
    }

    .ancho1{
        width: auto;
    }
    .p-videos{
        padding-left: 0;
    }

    .miniatura_video img{
        width: 100%;
        height: 100%;
    }

    .video_principal{
        padding-top: 1rem;
        padding-right: 1rem;
        height: auto;
    }

    .video_principal h1{
        text-justify: newspaper;
        padding-right: 1.4rem;
    }

    .video_principal h2{
        text-justify: newspaper;
    }

    .video_secundario_desc a{
        padding-left: 2rem;
        padding-right: 2rem;
        font-weight: lighter;
    }

    .video_secundario_desc p {
        padding-left: 2rem;
        font-weight: 0;
        color: #a8a8a8;
    }

 
    .noticiaNueva{
        padding-right: 1.5rem;

    }

    .noticiaNueva a{
        padding-right: 1.5rem;
        text-align: justify;
    }

    .destacados{
        margin: 0px;
    }

    .carousel-caption h2{
        font-size: calc(var(--text-size) * 0.8rem);
        
    }

    .carousel-caption{
       width: 90%;
       height: 10%;
       left: 0.0;
       top: 0;
    }
   




    

}