[data-theme="light"] {
    --primary: #0374BB;
    --background: #FFFFFF;
    --background_videos: #37474F;
    --text: #000;
    --borde: #BBB;
    --white_text: #FFFFFF;
    --gray_text: #555555A3;
    --anchor_hoover: #0374BB;
    
}

[data-theme="dark"] {
    --background_videos: #232a2e;
    --primary: #0374BB;
    --background: #000;
    --text: #e7e7e7;
    --borde: #a8a8a8a3;
    --white_text: #e7e7e7;
    --gray_text: #FFFFFF;
    --anchor_hoover: #92aebf;
   
}


@font-face {
    font-family: 'FuenteComercio';
    /* El nombre que quieras dar a la fuente */
    src: url('../font/WendelinReduced_85Fett.ttf') format('truetype');
    /* Ruta a tu archivo de fuente */

}

@font-face {
    font-family: 'subtituloComercio';
    /* El nombre que quieras dar a la fuente */
    src: url('../font/NotoSerif-SemiCondensedLightItalic.ttf') format('truetype');
    /* Ruta a tu archivo de fuente */

}


:root {
    --altura: 2.1875rem;
    --text-size: 1.1rem;

}




body {
    background: var(--background);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: var(--text-size);
    color: var(--text);
}


body * {
    box-sizing: content-box;
}




i {
    font-size: 1rem
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--text);
}

a:hover {
    color: var(--anchor_hoover);
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}

button:active{
    border: 0px;
}

.btn:focus,
.btn:active {
    outline: none; /* Quita el borde de enfoque */
    box-shadow: none; 
    border: 0px;
}

p{
    margin: 0;
}


.titulo {
    font-family: Roboto Serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.titulo1 {
    color: var(--text);
    font-family: 'FuenteComercio';
    font-size: 4.5rem;
    margin: 0px;
    padding: 0px;
    display: block;

}

.titulo2 {
    font-size: 2.1875rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}


.subtitulo {
    color: var(--text);
    font-family: 'subtituloComercio';
    margin: 0px;
    padding: 0px;
    display: block;
    font-size: 2rem;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.grid_mitad {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.contenido_inline * {
    display: inline-block;
}

.contenido_block * {
    display: block;
}

.barra_menu {
    background-color: var(--primary);
    height: 3.375rem;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 50%;
}

.menu div {
    height: 2.5rem;
}

.menu div:hover {
    background-color: #4793C3;
}

.menu a {
    color: var(--white_text);
    text-decoration: none;
}

.borde_gris {

    border-right: 1px solid var(--borde);
}



.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}


.derecha {
    display: flex;
    justify-content: flex-end;
}

.centrar_texto {
    text-align: center;
}

.header1 {
    height: 8.4375rem;
    ;
}

.header2 {
    height: 2.375rem;
}

.lupa {
    width: 2.375rem;
    height: var(--altura);
    border: 1px solid var(--borde);
    box-sizing: border-box;
    padding: 0px;

}

.input_lupa {
    width: 10.4375rem;
    height: var(--altura);
    border: 1px solid var(--borde);
    box-sizing: border-box;
    padding: 0px;
    background-color: var(--background);

}

.boton {
    width: auto;
    min-height: var(--altura);
    height: auto;
    color: var(--white_text);
    background-color: var(--primary);
    border: 1px solid var(--borde);
    box-sizing: border-box;
    padding: 0px 0.2rem;
    font-size: var(--text-size);

}

.boton:hover {
    background-color: #4793C3;
}

.boton_fuente {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0px;
    background-color: var(--borde);
    border: 1px solid var(--borde);
}

.boton_iniciar_sesion {
    width: 9rem;
}

.boton_suscribete {
    width: 16.5rem;
}





.pr-0 {
    padding-right: 0.5rem;
}


.p-edicion{
    margin-top: 0.5rem;
}


.letra_gris {
    color: var(--gray_text);
}

.cuadrado {
    width: 1.75rem;
    height: 1.75rem;
    border: 1px solid var(--borde);
    color: var(--text);
}


/* Estilos de las noticias */

.body {
    padding-right: 2.75rem;
    padding-left: 0.00rem;


}

.body_noticias {
    display: grid;
    grid-template-columns: 60rem 27rem;
    color: var(--text);
    
}

.body img {
    border: 1px solid var(--borde);
}

.body a {
    text-align: justify;
}

.borde_inferior {
    border-bottom: 1px dashed var(--borde);
}



.carrucel {
    border: 1px solid var(--borde);
    width: 53.8125rem;
    height: 26.75rem;
    background: url(../imagenes/noticias/bosque.png), lightgray 50% / cover no-repeat;

}

.noticiaDestacadaDiv {
   
}

.noticiaDestacada {   
    
    padding: 0px 1rem;
}



.noticiaDestacada img {
    width: 15rem;
    height: 9rem;
}

.noticiaDestacada a {
    margin-top: 0.5rem;
    display: block;
    text-decoration: none;

}

.noticiaNueva {
    position: relative;
    display: flex;
    padding-bottom: 1rem;
    height: 8.75rem;
}

.noticiaNueva img {
    width: 8.0625rem;
    height: 6.125rem;

}

.noticiaNueva>div {
    margin-left: 0.5rem;
    
}

.lo_ultimo {
    padding-left: 1.5rem;
    border-left: 2px dashed var(--borde);
}

.lo_ultimo a {
    margin-left: 0.5rem;
}

.cuadrado_azul {
    width: 0.375rem;
    height: 0.375rem;
    background-color: var(--primary);
    position: absolute;
    top: 40%;
    /* Ajusta la posición vertical */
    left: -8.85%;
}



.miniatura_video {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

.miniatura_video i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.miniatura_video img {
    width: 28.5rem;
    height: 15.4375rem;
    display: block;
}

.miniatura_video .segunda-imagen {
    width: 19.4375rem;
    height: 9rem;
}

.light {
    font-weight: lighter;
}

.videos {
    color: var(--white_text);
    

}

.videos a{
    color: var(--white_text);    

}

.p-videos {
    padding-left: 1.0rem;    
}

.div-videos{
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}

.video_principal h2,h1{
    padding-left: 2rem;
    font-weight: lighter;
}

.video_principal p{
    padding-left: 2rem;
    font-weight: 0;
    color: #a8a8a8;
}

.video_principal h1{
    padding-left: 2rem;
    font-weight: bold;
}


.video_secundario a{
    display: block;
    padding-top: 0.5rem;
    font-size: var(--text-size);
    font-weight: 500;
}

.video_secundario p{
    
    font-weight: 0;
    color: #a8a8a8;
    
}

.fondo-videos{
    background-color: var(--background_videos);
}

/*.fondo-gris {
    position: absolute;
    bottom: 1;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background_videos);    
    z-index: -1;
    
}*/

.ancho1{
    width: 90rem;
    
}



/* cambio en el tamaño de la pantalla */
@media screen and (max-width: 1500px) {
    .titulo1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 912px) {

    .grid3 {
        grid-template-columns: 1fr;
    }

    .titulo1 {
        font-size: 2.5rem;
    }

    .subtitulo{
        display: none;
    }
    
    

    .barra_menu {
       
        
    }

    .barra_menu {
       
        
    }

    .borde_gris {        
        
    }

    .menu a {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }


}



/* Estilos del switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border: 1px solid var(--borde);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3.2px;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--background);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.theme-toggle:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}